p, h1, h2, h3, h4, h5, h6{
  color: #433409;
}
p {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
  
  font-family: 'Montserrat Black', serif;
  font-weight: 700;
}

#gmg-header{
  margin: 1.5em 0;
}
#gmg-masthead {
  display: inline-block;  
  vertical-align: middle;
  width: 125px
}

#gmg-nav {
  display: inline-block;
  font-family: 'Montserrat', serif;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
}
#gmg-nav .dropdown-toggle, #gmg-nav a{
  color: #433409;
}
#gmg-nav .dropdown-toggle:hover, #gmg-nav a:hover {
  color: #ffa302;
  text-decoration: none;
}

#gmg-footer{
  background-color: #433409;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
  margin: 1em;
}
nav ul li:hover{
  cursor: pointer;
  cursor: hand;
}
li.dropdown:hover > ul.dropdown-menu,
li.dropdown:focus > ul.dropdown-menu {
    display: block;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #433409;
  background: rgba(255,255,255,.75);
  transition: all 0.25s ease;
}

.dropdown-menu{
  background: linear-gradient(to top,#fffaf2, #ffa302);
  border-radius: 0;
  padding:1em 0;
  margin:0;
}
.dropdown-menu li {
  padding: 0;
  margin:0;
  display: block;
}

#gmg-main-splash{
  background-image: url("./img/gold-moutain-gallery-splash.jpg");
  background: #473724;
  background-repeat:no-repeat;
  background-position: center center;
  padding: 12rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.5em;
  position: relative;
}

.gmg-infotiles {
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.gmg-infotiles a{
  color: #473724;
  display: block;
  margin: .5em;
}

.display-on-dark{
  font-size: 3rem;
  font-family: 'Montserrat Black', serif;
  font-style: normal;
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 3px;
  text-shadow: -1px 1px 3px #000000;
  text-transform: uppercase;
}
.body-on-dark{
  font-size:1.75rem;
  letter-spacing: 2px;
  text-shadow: -1px 1px 3px #000000;
  color: #ffffff;
}

#gmg-main-splash h1{ font-size: 6rem; letter-spacing: 5px; }
#gmg-main-splash p{ font-size: 2.5rem; margin: 0 0 1rem 0; letter-spacing: 3px; }
#gmg-main-splash h1, #gmg-main-splash p, #gmg-artist-feature p{ color: #ffffff; }

#gmg-artist-feature-inner{
  background: #555;
  padding: 2rem;
  font-size: 1.75rem;
  text-align: center;
}
#gmg-artist-feature p{
  margin:0 0 1rem 0;
  letter-spacing: 2.5px;
  
}
#gmg-link-tiles.row{
  margin-top: .5em;
  text-align: center;
}
#gmg-link-tiles a{
  border: 1px solid #c4c4c4;
  margin: 1rem;
  width: 175px;
  height: 175px;
  display: inline-block;
  background: #555;
  color: #ffffff;
  text-align: center;
  line-height:175px;
  letter-spacing: 2px;
  font-size: 2rem;
  text-shadow: 1px 1px 5px #000000;
  text-decoration: none;
  background-size: contain;
}

#gmg-link-tiles a:first-of-type{
  margin-left: 0;
}

#gmg-link-tiles a:hover{
  }

.btn{
  border-radius: 0;
  margin: .5em;
}
.btn-ghost{
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.btn-ghost:hover{
  background-color: #ffffff;
  color:  #433409;
  text-shadow: 1px 1px 1px #c4c4c4;
}
.italic { font-style: italic; }